<div class="row">
    <div class="col-md-10 margin-bottom-16">
        {{input type='text' value=searchTerm classNames='form-control cfg-input'
        placeholder='Enter a drug name' action="getAdverseEffectsForDrug" }}
        {{#if autocompleteNames.length}}
            {{#each drug in autocompleteNames}}
                <div class="row" {{action 'autocompleteSelected' drug.name}}>
                    <div class="col-md-12">
                        <div class="autocomplete-row">
                            <p>{{drug.name}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <div class="col-md-2 margin-bottom-16 text-center">
        {{#if fetchingDrugData}}
            <div id="ajaxloader" style="display: block;"></div>
        {{else}}
            <button class='form-control cfg-button' {{action 'getAdverseEffectsForDrug'}}>Search!</button>
        {{/if}}
    </div>
</div>